/*
 * General Styles
 * * * * * * * * * * * * * * */
.pagination>button{
background-color: #1565c0!important;
border: none!important;
margin: 5px!important;
color: white!important;
padding: 10px!important;
}

#result{
  border:none;
}

.dataTable>thead>th{
  border:none!important;
}
 .row{

  margin-bottom: 0px;
 }



input:focus {
  border-bottom: 1px solid #1e88e5!important;
  -webkit-box-shadow: 0 1px 0 0 #1e88e5!important;
  -moz-box-shadow: 0 1px 0 0 #1e88e5!important;
  box-shadow: 0 1px 0 0 #1e88e5!important;
}

.materialize-textarea:focus{
  border-bottom: 1px solid #1e88e5!important;
  -webkit-box-shadow: 0 1px 0 0 #1e88e5!important;
  -moz-box-shadow: 0 1px 0 0 #1e88e5!important;
  box-shadow: 0 1px 0 0 #1e88e5!important;

}

/*.materialize-textarea{
   margin-bottom: 0px!important;
   margin-top: 0px!important;
}*/

label {
    color: #1e88e5!important;
}

.valign-wrapper{
  height:100%!important;
}

/*
 * Navbar Styles
 * * * * * * * * * * * * * * */

 #brand{

  margin-left: 20px;
 }

/*
 * Left Panel Styles
 * * * * * * * * * * * * * * */

 #left{

  height:100%;
  overflow-y: scroll;
 }

#left::-webkit-scrollbar {
  width: 5px;
}

#left::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}

#logo-container{
  width: 60%;
  margin-top: 30px;
}

.collection-item{
  color: #1e88e5!important;
}

.collection{
  border: 1px transparent solid;
}

.btnrow{
  /*padding: 0px!important;*/
}

.qbtn{
  width: 100%;
}

/*
 * Right Panel Styles
 * * * * * * * * * * * * * * */

#right{

  height:100%;
  padding: 0px;


 }

 #right-top{
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
 }

 #right-bottom{

  height: 30%;
 }

 /* Query Pane Styles*/

#query-container{
  margin-top: 0px!important;
  padding: 0px;
}

#query{

  /*margin-top: 20px;*/
  height: 80%;
  max-height: 80%;
  /*margin-top: 40px;*/

}

 /*#run{

  /*margin-top: 50%;
  width: 80%;
  margin:auto;
 }
*/

.scroll2::-webkit-scrollbar {
  width: 5px;
}

.scroll2::-webkit-scrollbar-thumb {
  background: #9e9e9e;
}