/*
 * General Styles
 * * * * * * * * * * * * * * */

 .row{

 	margin-bottom: 0px;
 }

input:focus {
  border-bottom: 1px solid #1e88e5!important;
  -webkit-box-shadow: 0 1px 0 0 #1e88e5!important;
  -moz-box-shadow: 0 1px 0 0 #1e88e5!important;
  box-shadow: 0 1px 0 0 #1e88e5!important;
}

.materialize-textarea:focus{
  border-bottom: 1px solid #1e88e5!important;
  -webkit-box-shadow: 0 1px 0 0 #1e88e5!important;
  -moz-box-shadow: 0 1px 0 0 #1e88e5!important;
  box-shadow: 0 1px 0 0 #1e88e5!important;
}

label {
    color: #1e88e5!important;
}


/*
 * Navbar Styles
 * * * * * * * * * * * * * * */

 #brand{

 	margin-left: 20px;
 }

/*
 * Left Panel Styles
 * * * * * * * * * * * * * * */

 #left{

 	height:100%;
 }


/*
 * Right Panel Styles
 * * * * * * * * * * * * * * */

#right{

 	height:100%;
 }

 #right-top{

 	height: 70%;
 }

 #right-bottom{

 	height: 25%;
 }

 /* Query Pane Styles*/

 #query{

 	height: 75%;
 	max-height: 75%;
 }

 #run{

 	margin-top: 50%;
 }