<!DOCTYPE html>

<html>
<head>
	<title>CheapSQL: A Prototype Single-User DBMS</title>
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/material-design-lite.css')}}" /> -->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/materialize.min.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}" />


 	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/codemirror.css')}}" />
 	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/mdn-like.css')}}" />
 	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/show-hint.css')}}" />
 	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/datatables.min.css')}}" />

</head>




<body>

	<nav id="nav">
		<div class="nav-wrapper blue darken-3">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="/about" target="_blank">About</a></li>
				</ul>

			</a>
		</div>
	</nav>

	<div class="row" id ="main">

		<div id="left" class="col s4 m4 l3 z-depth-2" >

			<div id="logo-container" class="row">

				<img class="responsive-img" src="{{url_for('static',filename='img/logo.png')}}" />

			</div>




			 <div id="tables-collection" class="collection">
			 		<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header">STUDENT</div>

							<div class="collapsible-body"><span>
							<div class="row">
								<div class="input-field col s12">
									<label for="student_number">Student Number (StudNo)</label>
									<input id="student-studno" type="text" class="validate">
								</div>

								<div class="input-field col s12">

								<label for="student_name">Student Name (StudentName)</label>
								<input id="student-studentname" type="text" class="validate" maxlength="50">
								</div>

								<div class="input-field col s12">

								<label for="Degree">Birthday (Birthday)</label>
								<input id="student-birthday" type="text">

								</div>


								<div class="input-field col s12">

								<label for="Degree">Degree (Degree)</label>
								<input id="student-degree"  type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">

								 <label for="major">Major (Major)</label>
								<input id="student-major" type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">

								<label for="unites_earned">Units Earned (UnitsEarned)</label>
								<input id="student-unitsearned" type="text" class="validate">

								</div>
								</div>

								<div class="row btnrow-parent">
									<div class="col s12 btnrow"><a id="insert-student" class="waves-effect waves-light btn qbtn blue darken-1">Insert</a></div>
								</div>

							</span></div>
						</li>

						<li>
							<div class="collapsible-header">STUDENTHISTORY</div>
							<div class="collapsible-body"><span>
							<div class="row">

								<!-- StudNo - Description - Action - DateFilled - DateResolved - -->
								<div class="input-field col s12">

									<label for="student_number">Student Number (StudNo)</label>
									<input id="sh-studentNumber" type="text" class="validate">

								</div>

								<div class="input-field col s12">

									<label for="desc">Description (Description)</label>
									<input id="sh-Description" type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">

									<label for="act">Action (Action)</label>
									<input id="sh-Action" type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">

									<label for="Degree">Date Filed (DateFiled)</label>
									<input id="sh-datefiled" type="text" >

								</div>

								<div class="input-field col s12">

									<label for="Degree">Date Resolved (DateResolved)</label>
									<input id="sh-dateresolved" type="text" >

								</div>

							</div>

							<div class="row btnrow-parent">
								<div class="col s12 btnrow"><a id="insert-studenthistory" class="waves-effect waves-light btn qbtn blue darken-1">Insert</a></div>
							</div>

							</span></div>
						</li>

						<li>
							<div class="collapsible-header">COURSE</div>
							<div class="collapsible-body"><span>
								<!-- CNo - CDesc - NoOfUnits - HasLab - SemOffered	 - -->
							<div class="row">
								<div class="input-field col s12">

									<label for="course_number">Course Number (CNo)</label>
									<input id="courseNumber" type="text" class="validate">

								</div>

								<div class="input-field col s12">

									<label for="desc">Course Description (CTitle)</label>
									<input id="courseTitle" type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">

									<label for="desc">Course Description (CDesc)</label>
									<input id="courseDescription" type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">

									<label for="unites_earned">Number of Units (NoOfUnits)</label>
									<input id="courseNumberofUnits" type="text" class="validate">

								</div>

								<div class="input-field col s12">

									<select id="course-haslab">
									<option value="No" selected="">No</option>
									<option value="Yes">Yes</option>
									</select>
									<label>Laboratory (HasLab)</label>


								</div>

								<div class="input-field col s12">

									<select id="course-semoffered">

									<option value="1st" selected="">1st</option>
									<option value="2nd">2nd</option>
									<option value="Mid">Mid</option>
									</select>

									<label>Semester Offered (SemOffered)</label>

								</div>

							</div>

							<div class="row btnrow-parent">
								<div class="col s12 btnrow"><a id="insert-course" class="waves-effect waves-light btn qbtn blue darken-1">Insert</a></div>
							</div>

							</span></div>
						</li>

						<li>
							<!-- Semester - Acadyear - CNo - Section - Major - Time - MaxStud -->
							<div class="collapsible-header">COURSEOFFERING</div>
							<div class="collapsible-body"><span>
							<div class="row">

								<div class="input-field col s12">

									<select id="CourseOfferingSemester">
										<option value="1st" selected="">1st</option>
										<option value="2nd">2nd</option>
										<option value="Mid">Mid</option>
									</select>
									<label>Semester (Semester)</label>


								</div>

								<div class="input-field col s12">

									<label>Academic Year (AcadYear)</label>
									<input id="COAcadYear" type="text" class="validate">
								</div>


								<div class="input-field col s12">

									<label for="course_number">Course Number (CNo)</label>
									<input id="COcourseNumber" type="text" class="validate">
								</div>


								<div class="input-field col s12">

									<label for="Section">Section (Section)</label>
									<input id="COSection" type="text" class="validate" maxlength="50">

								</div>

								<div class="input-field col s12">
									<label for="Time">Time (Time)</label>
									<input id="COtime" type="text">

								</div>

								<div class="input-field col s12">
									<label for="major">Max Student (MaxStud)</label>
									<input id="COMaxStud" type="text" class="validate" maxlength="50">
								</div>

							</div>

							<div class="row btnrow-parent">
									<div class="col s12 btnrow"><a id="insert-courseoffering" class="waves-effect waves-light btn qbtn blue darken-1">Insert</a></div>
								</div>

							</span></div>

						</li>

						<li>
							<!-- StudNo - CNo - Senester - AcadYear -->
							<div class="collapsible-header">STUDCOURSE</div>
							<div class="collapsible-body"><span>
							<div class="row">

								<div class="input-field col s12">

									<label for="student_number">Student Number (StudNo)</label>
									<input id="scoursestudentNumber" type="text" class="validate">
								</div>
								<div class="input-field col s12">

									<label for="course_number">Course Number (CNo)</label>
									<input id="scoursecourseNumber" type="text" class="validate">
								</div>
								<div class="input-field col s12">


									<select id="scourseSemester">
									<option value="1st" selected="">1st</option>
									<option value="2nd">2nd</option>
									<option value="Sum">Mid</option>
									</select>

									<label for="course_number">Semester (Semester)</label>
								</div>
								<div class="input-field col s12">

									<label for="acadYEAR">Academic Year (AcadYear)</label>
									<input id="scourseAcadYear" type="text" class="validate">
								</div>

							</div>

							<div class="row btnrow-parent">
									<div class="col s12 btnrow"><a id="insert-studcourse" class="waves-effect waves-light btn qbtn blue darken-1">Insert</a></div>
								</div>
							</span></div>
						</li>
						</ul>



			</div>
		</div>




		<div id="right" class="col s8 m8 l9">

			<div class="row scroll2" id="right-top">
				<div class="valign-wrapper center-align">
					<h3 class="grey-text text-lighten-1 " style="width: 100%;">Run a query or select a table.</h3>
				</div>
			</div>

			<div class="row" id="right-bottom">

			        <div id="query-container" class="input-field col s12" style="height:100%">
			          <!-- <textarea id="query" class="materialize-textarea"></textarea>
			          <label for="query">Query</label> -->

			          <textarea id="query" name="query" style="height:50%!important">SELECT * FROM COURSE;</textarea>
			        </div>


			       <!--  <div class ="col s2 center-align" style="height:100%; margin-bottom: 0px;">
			        	<div class="valign-wrapper">
				        	<button id="run" class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Run Query
		    <i class="material-icons right">send</i>
		  					</button>
	  					</div>

			        </div>  -->

			</div>

			<div class="fixed-action-btn">
			    <a id="run" class="btn-floating btn-large waves-effect waves-light yellow darken-3" style="width: 60px;height:60px;">
					<img class="responsive-img" src="{{url_for('static',filename='img/play.png')}}" />
			    </a>
			  </div>

		</div>

	</div>

	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/scripts.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/materialize.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/codemirror.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/sql.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/show-hint.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/sql-hint.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/datatables.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/datatables.material.js')}}"></script>

	<script type="text/javascript">
		$('.collapsible').collapsible();
	</script>

	<script>

		var mime = 'text/x-mariadb';

		var editor = CodeMirror.fromTextArea(document.getElementById("query"), {
		  indentWithTabs: true,
		    smartIndent: true,
		    lineNumbers: true,
		    matchBrackets : true,
		    autofocus: true,

		  mode: mime,
		  mode: mime,

		  extraKeys: {"Ctrl-Space": "autocomplete"},
		    hintOptions: {tables: {
		      STUDENT: ["StudNo", "StudentName", "Birthday","Degree","Major","UnitsEarned"],
		      STUDENTHISTORY: ["StudNo","Description","Action","DateFiled","DateResolved"],
		      COURSE: ["CNo","CTitle","CDesc","NoOfUnits","HasLab","SemOffered"],
		      COURSEOFFERING: ["Semester","Description","Action","DateFiled","DateResolved"],
		      STUDCOURSE: ["StudNo","CNo","Semester","AcadYear"]

		    }},

		});



		editor.setOption("theme", "mdn-like");
		// editor.setOption("height", "100px")
		$(".CodeMirror").height("100%");


	</script>


</body>

</html>